<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IllusionLibs.BepInEx" version="5.4.4" targetFramework="net35" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.2.0.1" targetFramework="net35" />
  <package id="IllusionLibs.VRKanojo.Assembly-CSharp" version="2021.1.13" targetFramework="net35" />
  <package id="IllusionLibs.VRKanojo.UnityEngine" version="5.4.5" targetFramework="net35" />
  <package id="IllusionLibs.VRKanojo.UnityEngine.UI" version="5.4.5" targetFramework="net35" />
  <package id="Microsoft.Unity.Analyzers" version="1.9.1" targetFramework="net35" developmentDependency="true" />
</packages>